* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
	font: bold 12px Arial, sans-serif;
}

html {
	height: 100%;
	background: #fff;
	background-size: cover;
}

#calculator {
	width: 325px;
	height: auto;
	margin: 100px auto;
	padding: 20px 20px 9px;
	background: #000;
	border-radius: 1px;
}

.top span.clear {
	float: left;
}

.top .screen {
	height: 40px;
	width: 212px;
	float: right;
	padding: 0 10px;
	background: rgba(0, 0, 0, 0.2);
	font-size: 15px;
	line-height: 40px;
	color: #fff;
	text-align: right;
	letter-spacing: 1px;
}

.keys, .top {overflow: hidden;}

.keys span, .top span.clear {
	float: left;
	position: relative;
	top: 0;
	cursor: pointer;
	width: 60px;
	height: 50px;
	background: #fff;
	border-radius: 3px;
	margin: 0 7px 11px 0;
	color: #000;
	line-height: 50px;
	text-align: center;
	user-select: none;
	transition: all 0.2s ease;
}

.keys span.operator {
	background: #fff;
	margin-right: 0;
}

.top span.clear {
	background: #f00;
	color: white;
}

.keys span:hover {
	background: #000;
	color: white;
}

.top span.clear:hover {
	background: #fff;
	color: #f00;
}
