 html {
      background: #000;
      background-size: cover;
      font-family: 'helvetica neue';
      text-align: center;
      font-size: 10px;
    }

    body {
      margin: 0;
      font-size: 2rem;
      display: flex;
      flex: 1;
      min-height: 100vh;
      align-items: center;
    }

    .clock {
      width: 30rem;
      height: 50rem;
      margin: 10px auto;
      position: relative;
      padding: 2rem;
    }

    .clock-analog {
      width: 30rem;
      height: 30rem;
      border: 10px solid red;
      border-radius: 50%;
      margin: 50px auto;
      position: relative;
      padding: 2rem;
    }

    .clock-face {
      position: relative;
      width: 100%;
      height: 100%;
      transform: translateY(-3px); /* account for the height of the clock hands */
    }

    .hand {
      width: 50%;
      height: 6px;
      background: #ff0000;
      position: absolute;
      top: 50%;
      transform-origin: 100%;
      transform: rotate(90deg);
      transition: all 0.5s;
      transition-timing-function: cubic-bezier(0.1, 2.7, 0.5, 1);
    }
	
	.seconds-hand {
      width: 50%;
      height: 2px;
      background: #ff0000;
      position: absolute;
      top: 50%;
      transform-origin: 100%;
      transform: rotate(90deg);
      transition: all 0.5s;
      transition-timing-function: cubic-bezier(0.1, 2.7, 0.5, 1);
    }

    .minutes-hand {
      width: 50%;
      height: 4px;
      background: #ff0000;
      position: absolute;
      top: 50%;
      transform-origin: 100%;
      transform: rotate(90deg);
      transition: all 0.5s;
      transition-timing-function: cubic-bezier(0.1, 2.7, 0.5, 1);
    }

     .hours-hand {
      width: 50%;
      height: 6px;
      background:#ff0000;
      position: absolute;
      top: 50%;
      transform-origin: 100%;
      transform: rotate(90deg);
      transition: all 0.5s;
      transition-timing-function: cubic-bezier(0.1, 2.7, 0.5, 1);
    }

    .clock-digital {
      display: flex;
      justify-content: center;
      color: #f00;
      width: 30rem;
      height: 20rem;
      position: relative;
      padding: 2rem;
    }

    #seconds {
      font-size: 10rem;
    }

    #minutes {
      font-size: 10rem;
    }

    #hours {
    font-size: 10rem;
    }