body {
	width: 100%
	height: 100%;
	background-color: #fff;
}

#container {
	width: 100%
	height: 100%;
	background-color: #fff;
}

#canvas {
  width: 100%;
  height: 100%;
  background-color: #000;
  border: solid 1px #f00;
}


