#column-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#row-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 50px;
}

#buttons {
	margin-top: 5px;
	float: left;
}

#control{
	width: 100%;
	border: 1px solid black;
	display: inline-block;
}

.cell{
	background-color: #fff;
}

.button {
	background-color: #fff;
    border: 1px solid black;
    color: #000;
    padding: 15px 32px;
    margin-top: 3px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 150px;
    display: block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #000;
    color: #fff;
}

#forms{
	margin-top: 10px;
	float: right;
}

.button-forms{
	display: block;
	margin-bottom: 5px;
}