body {
  text-align: center;
  background-color: #000;
}

textarea {
  width: 33%;
  float: top;
  min-height: 250px;
  overflow: scroll;
  margin: auto;
  display: inline-block;
  background: #000;
  outline: none;
  font-family: Courier, sans-serif;
  font-size: 14px;
  color: #0f0;
}

iframe {
  bottom: 0;
  position: relative;
  width: 100%;
  height: 35em;
}