body {
	width: 100vw;
	height: 100vh;
	background-color: #000;
}

#container {
	width: 100%;
	height: 100%;
	background-color: #000;
}

.eyes {
  position: absolute;
  top: 25px;
  left: 25px;
  height: 50px;
  width: 100px;
}

.left-eye {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 50px;
  background-color: #000;
  border-radius: 50%;
}

.right-eye {
  position: absolute;
  top: 0px;
  left: 60px;
  height: 50px;
  width: 50px;
  background-color: #000;
  border-radius: 50%;
}

.left-pupil {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 5px;
  height: 2px;
  background-color: #fff;
  transform-origin: 0% 0%;
  transform: rotate(90deg);
}

.right-pupil {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 5px;
  height: 2px;
  background-color: #fff;
  transform-origin: 0% 0%;
  transform: rotate(90deg);
}