html{
	background-color: #fff;
}

.main{
	background-color: #fff;
}

.session-length .btn {
		width: 30px;
		height: 20px;
		text-align: center;	
		margin-top: 10px;
}

.clock {
		width: 500px;
		height: 150px;
		text-align: center;
    cursor: pointer;
    margin-left: auto ;
    margin-right: auto ;
}

.clock-timer {
		font-size: 12em;
		font-family: 'Times New Roman', sans-serif;
}

.session-length {
		width: 400px;
		font-size: 2em;
		margin: 50px auto;
		text-align: center;
}

.pomodoro-length {
		float: left;
}

.break-time-length {
		float: right;
}

.btn-control {
		padding: 15px 35px; 
		margin-top: 80px;
		margin-left: 20px;
		margin-right: 20px;
    cursor: pointer;
}

.btn-control:hover {
		background-color: #000;
		color: #fff;
}

.btn-count {
		padding: 5px 10px;
    cursor: pointer;
}

.hidden {
		display: none;
}