img {
  border: 0; 
}

html {
  font-size: 50%; 
}

body {
  font-size: 1em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Times New Roman";
  color: #fff; 
  bakground-color: #000;
}

.u-pull-right {
  float: right; 
}

.u-pull-left {
  float: left; 
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; 
}

.container {
  position: relative;
  width: 100%;
  max-width: 730px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; 
}

@media (min-width: 550px) {

.container:after, .row:after, .u-cf {
  content: "";
  display: table;
  clear: both; 
}

button, .button {
  margin-bottom: 1rem; 
}

body {
  font-family: 'Times New Roman', sans-serif;
  text-align: center;
  background-color: #000; 
 }

.game-status {
  font-family: 'Times New Roman', cursive;
  font-size: 6em; 
 }
  
@media screen and (max-width: 550px) {   
.game-status {
      font-size: 3em; 
 } 
}


.tiles, .bottom-row {
  margin-top: 2em; 
}

.tile-1 {
  background-color: #f00;
  border-radius: 100%;
  margin-left: 30%;
  display: inline-block;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 1px #FF3000 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #FF3000, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  -moz-transition: 0.15s;
  -o-transition: 0.15s;
  -webkit-transition: 0.15s;
  transition: 0.15s; 
}
  
.tile-1:hover, .tile-1:focus {
    background-color: #ff451a;
    box-shadow: 0 0 0 1px #FF3000 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #e62b00, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
    top: -2px; 
}
  
.tile-1:active, .tile-1-activated {
    box-shadow: 0 0 0 1px #e62b00 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-color: #ff8366;
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transform: translateY(10px); 
}
  
@media screen and (max-width: 550px) {
   .tile-1 {
      height: 125px; 
   } 
}

.tile-2 {
  background-color: #0f0;
  border-radius: 100%;
  margin-right: 30%;
  display: inline-block;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 1px #088500 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #088500, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  -moz-transition: 0.15s;
  -o-transition: 0.15s;
  -webkit-transition: 0.15s;
  transition: 0.15s; 
}  
  
.tile-2:hover, .tile-2:focus {
    background-color: #0a9f00;
    box-shadow: 0 0 0 1px #088500 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #066c00, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
    top: -2px; 
}
  
.tile-2:active, .tile-2-activated {
    box-shadow: 0 0 0 1px #066c00 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-color: #0eeb00;
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transform: translateY(10px); 
}
 
@media screen and (max-width: 550px) {
   .tile-2 {
      height: 125px; 
   } 
}

.tile-3 {
  background-color: #E05700;
  border-radius: 100%;
  margin-left: 30%;
  display: inline-block;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 1px #E05700 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #E05700, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  -moz-transition: 0.15s;
  -o-transition: 0.15s;
  -webkit-transition: 0.15s;
  transition: 0.15s; 
}
  
.tile-3:hover, .tile-3:focus {
    background-color: #fa6100;
    box-shadow: 0 0 0 1px #E05700 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #c74d00, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
    top: -2px; 
}
  
.tile-3:active, .tile-3-activated {
    box-shadow: 0 0 0 1px #c74d00 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-color: #ff8e47;
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transform: translateY(10px); 
}
  
@media screen and (max-width: 550px) {
  .tile-3 {
      height: 125px; 
   } 
}

.tile-4 {
  background-color: #3A00FF;
  border-radius: 100%;
  margin-right: 30%;
  display: inline-block;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 1px #3A00FF inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #3A00FF, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  -moz-transition: 0.15s;
  -o-transition: 0.15s;
  -webkit-transition: 0.15s;
  transition: 0.15s; 
}
  
.tile-4:hover, .tile-4:focus {
    background-color: #4e1aff;
    box-shadow: 0 0 0 1px #3A00FF inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #3400e6, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
    top: -2px; 
}

.tile-4:active, .tile-4-activated {
    box-shadow: 0 0 0 1px #3400e6 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-color: #8966ff;
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transform: translateY(10px); 
}
  
.controls {
  margin-top: 3em; 
}

.controls h3 {
  font-size: 1.7em; 
}

.btn-start, .btn-reset {
  text-align: center;
  border: 1px solid #7f8c8d;
  border-radius: 5px;
  background-color: #fff;
  font-weight: 1000;
  font-size: 2em;
}
  
.btn-start:hover, .btn-reset:hover {
    background-color: #000;
    color: #fff;
}

.game-steps {
  margin-left: 10px; 
}

.game-score {
  margin-right: 10px; 
}

.game-steps-no, .game-score-no {
  background-color: #fff;
  border-radius: 5px;
  color: #000;
  width: 50px;
  font-size: 2em; 
  margin: 10px;
}
 
.game-score-text, .game-steps-text {
    font-size: 2em; 
}

.hidden {
  display: none; 
}