body {
	width: 100vw;
	height: 100vh;
	background-color: #000;
}

#container {
	width: 100%;
	height: 100%;
	background-color: #000;
}

.spotlight {
  position: absolute;
  top: 0px;
  left: 250px;
  height: 300px;
  width: 200px;
  background-color: #000;
}

.spot {
  position: absolute;
  top: 200px;
  left: 0px;
  width: 200px;
  height: 100px;
  background: #fff;
  border-radius: 100px / 50px;
}

.light {
  position: absolute;
  left: 0px;
  width: 0;
  height: 0;
  border-left: 72px solid transparent;
  border-right: 72px solid transparent;
  border-bottom: 542px solid #f00;
}