body {
	width: 100vw;
	height: 100vh;
	background-color: #000;
}

#container {
	width: 100%;
	height: 100%;
	background-color: #000;
}

.star {
  position: absolute;
  top: 25px;
  left: 25px;
  height: 25px;
  width: 25px;
  background-color: #ff0;
  border-radius: 50%;
  -webkit-filter: blur(10px); /* Safari */
  filter: blur(10px);
}