.button {
    background-color: white;
    color: black;
    border: 2px solid black;
    font-size: 15px;
    visibility:hidden;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}