#background {
  height: 100%;
  background-size: cover;
}
#wrap {
  opacity: 0.5;
  width: 33%;
  height: 33%;
  position: relative;
  top: 30px;
  left: 33%;
  padding: 30px 30px;
  background: #000;
}
#city-name {
  width: 100%;
  color: #fff;
  font-family: "Times New Roman";
  font-size: 60px;
}
#weather {
  width: 75%;
  color: #fff;
  font-family: "Arial";
  font-size: 55px;
}
#weather-info {
  float: left;
}
#icon {
  float: left;
}
#temperature {
  width: 70%;
  color: #fff;
  font-family: "Arial";
  font-size: 50px;
}
#temp {
  float: left;
}
.switcher {
    background-color: #fff;
    border: solid 1px #000;
    color: #000;
    padding: 16px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    float: left;
}
.switcher:hover {
    background-color: #000;
    color: #fff;
}