a:link, a:visited {
    background-color: #000;
    color: #fff;
    padding: 14px 25px;
    text-align: justify; 
    text-decoration: none;
    display: inline-block;
    border: solid 1px #fff;
}
a:hover, a:active {
    background-color: #fff;
    color: #000;
}
#background {
  width: 100%;
  height: 100%;
  background-color: #000;
  background-repeat: no-repeat;
  overflow: hidden;
}
#wrap {
  border: solid 1px red;
  width: 33%;
  height: auto;
  position: relative;
  top: 30px;
  left: 33%;
  padding: 30px;
  background: #000;
}
#article-random {
  width: 25%;
  color: #000;
  font-family: "Times New Roman";
  font-size: 60px;
}
#switcher {
    background-color: #fff;
    border: solid 1px #000;
    color: #000;
    padding: 16px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    float: left;
}
#switcher:hover {
    background-color: #000;
    color: #fff;
}
#article-search-field {
  padding-top: 20px;
  height: auto;
  width: 75%;
  color: #000;
  font-family: "Arial";
}
#search-field {
    height: auto;
    line-height: 21px;
    font-size: 21pt;
}
#article-search-results {
  padding-top: 20px;
  height: auto;
}
#new-searched-results {
  padding-top: 20px;
  height: auto;
}