body {
	width: 100vw;
	height: 100vh;
	background-color: #000;
}

#container {
	width: 100%;
	height: 100%;
	background-color: #000;
}

.dot {
  position: absolute;
  top: 25px;
  left: 25px;
  height: 25px;
  width: 25px;
  background-color: #f00;
  border-radius: 50%;
}

.glow {
  color: #f00;
  -webkit-filter: blur(10px); /* Safari */
  filter: blur(10px);
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
     box-shadow: 0 0 2vh #f00, 0 0 2vh #f00,0 0 3vh #f00, 0 0 4vh #f00, 0 0 5vh #f00, 0 0 6vh #f00, 0 0 7vh #f00;
  }
  to {
    box-shadow: 0 0 3vh #f00, 0 0 3vh #f00, 0 0 4vh #f00, 0 0 5vh #f00, 0 0 6vh #f00, 0 0 7vh #f00, 0 0 8vh #f00;
  }
}